[user]
	name = Alejandro Sajaroff
	email = 29068982+asajaroff@users.noreply.github.com
	signingkey = /home/asajaroff/.ssh/brivo.pub
[gpg]
	format = ssh
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = true
[gpg "ssh"]
	allowedSignersFile = /home/asajaroff/.ssh/allowed_signers
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesfile = ~/.gitignore_global
